<div class="container">
  <h1 class="mb-3">My tasks</h1>
  <ul class="list-group mb-3">
    <% @tasks.each do |task| %>
      <li class="list-group-item pl-5">
        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
        <%= link_to "#{task.title} ・", task_path(task) %>
        <%= link_to "", task_path(task), class: "fas fa-trash-alt primary", method: :delete, data: { confirm: "Are you sure?" } %>
      </li>
    <% end %>
  </ul>
    <i class="fas fa-plus-circle mr-1"></i> <%=link_to "Add a new task", tasks_new_path %>
</div>
